<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Stock Price Checker</title>
    <meta name="description" content="A cool thing made with HyperDev">
    <link id="favicon" rel="icon" href="https://hyperdev.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/style.css">
  </head>
  <body>
   <header>
          <h1>Stock Price Checker</h1>
          <h3>Check current stock prices - if you like a stock check the like box!</h3>
      </header>
          
        <main>
        <div id="testui">
          <h5>Check a single stock price and total likes:</h5>
          <form id="testForm2">
            <input type="text" name="stock1" placeholder="goog" class="stock" required="">
            <input type="checkbox" name="like" value="true"> Like?<br>
            <button type="submit" class="btn btn-primary">Get Price!</button>
          </form>
          <code id="oneStock"></code>
          <h5>Compare two stock prices and their relative likes:</h5>
          <form id="testForm">
            <input type="text" name="stock1" placeholder="goog" class="stock" required="">
            <input type="text" name="stock2" placeholder="msft" class="stock" required="">
            <input type="checkbox" name="like" value="true"> Like both?<br>
            <button type="submit" class="btn btn-primary">Get Price!</button>
          </form>
          <code id="twoStocks"></code>
        </div>
        
        <button class="btn btn-info btn-sm" id="showExamples" onclick="hideExamples()">Show Examples</button>
        <div id="examples" style="display: none"> 
          <p>
            If you check one stock price, e.g., "goog":<br>
            Your result will display in this format: <code>{"stockData":{"stock":"GOOG","price":"786.90","likes":1}}</code>
          </p>
          <p>
            If you check two stocks, e.g., "goog" and "msft":<br>
            Your result will display in the following format, where "rel_likes" is the difference in the number of likes between the two stocks: 
            <code>{"stockData":[{"stock":"MSFT","price":"62.30","rel_likes":-1},{"stock":"GOOG","price":"786.90","rel_likes":1}]}</code>
          </p>
        </div>
        </main>
        <footer>
           <p>
            Data provided for free by <a href="https://iextrading.com/developer/" style="color: white; text-decoration: underline;">IEX</a>.
            View <a href="https://iextrading.com/api-exhibit-a/" style="color: white; text-decoration: underline">IEX's Terms of Use</a>.
            </p>
        </footer>
    
   
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script>
      $(function() {
        $('#testForm').submit(function(e) {
          $.ajax({
            url: '/api/stock-prices',
            type: 'get',
            data: $('#testForm').serialize(),
            success: function(data) {
              $('#twoStocks').text(JSON.stringify(data));
            }
          });
          e.preventDefault();
        });
        $('#testForm2').submit(function(e) {
          $.ajax({
            url: '/api/stock-prices',
            type: 'get',
            data: $('#testForm2').serialize(),
            success: function(data) {
              $('#oneStock').text(JSON.stringify(data));
            }
          });
          e.preventDefault();
        });
      });
   </script>
   <script src="/public/client.js" type="text/javascript"></script>
  </body>
</html>
