body {
  background-image: url(https://www.kiplinger.com/slideshow/investing/T052-S001-10-small-cap-growth-stocks-to-buy-now/images/intro.jpg);
}
header {
  text-align: center;
}
h3 {
  text-align: center;
}
main {
  margin-left: 5%;
  margin-right: 5%;
}
form {
  
}
footer {
  text-align: center;
}