body {
  background-image: url(https://cdn.glitch.com/e34f8005-f8c3-4973-9ca2-57ae8aff669e%2Fimage.png?v=1566774549892);
}
header {
  text-align: center;
}
h3 {
  text-align: center;
}
main {
  margin-left: 5%;
  margin-right: 5%;
}
form {
  
}
footer {
  text-align: center;
}