body {
  box-sizing: border-box;
}
header {
  padding: 1.5rem;
  text-align: center;
}
h1 {
  font-size: 3.7em;
  font-weight: bold;
  color: #086acc;
}
h3 {
  font-size: 1.2em;
  color: #737373;
  margin: 0;
  padding-bottom: 1.5rem;
}
hr {
  
  margin: 0 4rem;
}
main {
  margin:  0 2rem;
  padding: 0 2rem;
}
#testui {
  padding: 0 4rem;
}
#checkOneStock, #checkTwoStocks {
  padding: 1rem 0;
}
#checkTwoStocks {
  padding: 3rem 0 2.5rem;
}
h5 {
  font-size: 1.7em;
  padding-bottom: 1rem;
}
form {
  padding: 2rem;
  margin-top: .75rem;
  background-color: #d1e8ff;
  border-radius: 5px;
  display: inline;
}
.stock {
  margin-top: .5em;
  width: 100px;
}
button[type=submit] {
  margin-left: .75rem;
  background-color: #008807;;
  color: white;
  border: none;
  border-radius: 5px;
  padding: .3rem .6rem;
}
#oneStock, #twoStocks {
  padding-top: 1rem;
  margin-top: 1.5rem;
  display: block;
}
#exampleDiv {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  margin: 1rem auto;
  padding: 1.5rem;
}
#showExamples{
  text-align: center;
  margin: 1.5rem;
}
#showExamples button {
  background-color: #2884df;
  color: white;
  border: none;
  border-radius: 5px;
  padding: .3rem .6rem;
}
#examples {
  padding: 1.5rem;
  line-height: 1.6;
  background-color: white;
}
footer {
  width: 100%;
  margin: 1.5rem 0 0 0;
  padding: .4rem;
  text-align: center;
  background-color: rgb(77, 77, 77);
  position: fixed;
  bottom: 0;
  
}
footer p, a {
  color: lightgray;
}
footer p {
  margin: 0;
}
footer a {
  text-decoration: underline;
}
footer a:hover {
  color: white;
}
@media only screen and (max-width: 400px) {
  #testForm #testForm2 {
    display: flex;
    flex-direction: column;
  }
}